<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add List</title>
</head>
<body>
  <header>

  </header>
  <form action="/" method="post">
    <label for="title">title</label>
    <input type="text" name="title" id="title">
    <label for="">author</label>
    <input type="text" name="author" id="author">
    <label for="">url</label>
    <input type="text" name="url" id="url">
    <label for="">likes</label>
    <input type="text" name="likes" id="likes">
    <button type="submit"></button>
  </form>
</body>
</html>